/*variables css
*/

:root{
    --color-primario: #15b149;
    --color-secundario: #4CC9F0;
    --color-fondo: #F8F9FA;
    --color-texto: 2B2DD42;
    --color-borde: #E9ECEF; 
}

/*2 RESET BASICO
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* 3 estilos generales
*/

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 40px 20px;
}

/* 4  contenedor principal*/
.contenedor-formulario{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

h1{
    font-size: 28px;
    color: var(--color-primario);
    margin-bottom: 30px;
}

.subtitulo{
    color: #6c757D;
    margin-bottom: 30px;
}

/* 6 grupos de formulario*/
.grupo-formulario{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500px;
    font-size: 14px;
}

/*  7 inputs y textarea*/
input, textarea{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    transition: all 0.3s; /*animacion suabe*/
}

input:focus, textarea:focus{
    border-color: var(--color-secundario);
    outline: none;/* elimina el outiline predeterminado*/
    box-shadow: 0 0 0 3px rgba(76,201,240,0.2);
} 

/* 8 disposicion en columnas */
.grupo-doble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px
}

/* 9 botón de envio*/
.btn{
    background-color: var(--color-primario);
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #2a0880;
}

#f_edad{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(218, 243, 204);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}




.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.contenidoModal{
    background-color: rgb(164, 236, 221);
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}